<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<html lang="en">
<head>
    <title>Headnote Display</title>
</head>
<div class="headnote-list">
<p class="level-1"><a class="head-number">1.</a> - Administrative Law</p>
<p class="level-2"><a class="head-number">1.1</a> - Interpretation of Law</p>
<p class="level-3"><a class="head-number">1.1.1</a> - Generally</p>
<p class="level-3"><a class="head-number">1.1.2</a> - Rules of Construction</p>
<p class="level-3"><a class="head-number">1.1.3</a> - Effect of Local Government Interpretation</p>
<p class="level-3"><a class="head-number">1.1.4</a> - Procedural Requirements</p>
<p class="level-2"><a class="head-number">1.2</a> - Denials</p>
<p class="level-3"><a class="head-number">1.2.1</a> - Generally</p>
<p class="level-3"><a class="head-number">1.2.2</a> - Requirements for</p>
<p class="level-3"><a class="head-number">1.2.3</a> - Burden to Challenge</p>
<p class="level-3"><a class="head-number">1.2.4</a> - Evidence to Support</p>
<p class="level-2"><a class="head-number">1.3</a> - Findings Generally</p>
<p class="level-3"><a class="head-number">1.3.1</a> - What Constitutes</p>
<p class="level-3"><a class="head-number">1.3.2</a> - Necessary Elements</p>
<p class="level-3"><a class="head-number">1.3.3</a> - Form of</p>
<p class="level-2"><a class="head-number">1.4</a> - Adequacy of Findings</p>
<p class="level-3"><a class="head-number">1.4.1</a> - Generally</p>
<p class="level-3"><a class="head-number">1.4.2</a> - Applicable Standards</p>
<p class="level-3"><a class="head-number">1.4.3</a> - Facts Relied on</p>
<p class="level-3"><a class="head-number">1.4.4</a> - Explanation of Rationale</p>
<p class="level-3"><a class="head-number">1.4.5</a> - Related Findings</p>
<p class="level-3"><a class="head-number">1.4.6</a> - Issues Addressed</p>
<p class="level-3"><a class="head-number">1.4.7</a> - Scope</p>
<p class="level-3"><a class="head-number">1.4.8</a> - Logic and Consistency</p>
<p class="level-2"><a class="head-number">1.5</a> - Requirements for Findings</p>
<p class="level-3"><a class="head-number">1.5.1</a> - Generally</p>
<p class="level-3"><a class="head-number">1.5.2</a> - Statutes</p>
<p class="level-3"><a class="head-number">1.5.3</a> - Statewide Goals</p>
<p class="level-3"><a class="head-number">1.5.4</a> - Administrative Rules</p>
<p class="level-3"><a class="head-number">1.5.5</a> - Local Standards</p>
<p class="level-2"><a class="head-number">1.6</a> - Substantial Evidence</p>
<p class="level-3"><a class="head-number">1.6.1</a> - Generally</p>
<p class="level-3"><a class="head-number">1.6.2</a> - Definition of</p>
<p class="level-3"><a class="head-number">1.6.3</a> - Official Notice</p>
<p class="level-3"><a class="head-number">1.6.4</a> - Expert Testimony</p>
<p class="level-3"><a class="head-number">1.6.5</a> - Conflicting Evidence</p>
<p class="level-2"><a class="head-number">1.7</a> - Evidence Which Clearly Supports</p>
<p class="level-2"><a class="head-number">1.8</a> - Burden of Proof</p>
<p class="level-2"><a class="head-number">1.6</a> - Substantial Evidence</p>
<p class="level-1"><a class="head-number">2.</a> - Constitutional Law</p>
<p class="level-2"><a class="head-number">2.1</a> - Oregon Constitution</p>
<p class="level-3"><a class="head-number">2.1.1</a> - Procedural Issues</p>
<p class="level-3"><a class="head-number">2.1.2</a> - Nonprocedural Issues</p>
<p class="level-2"><a class="head-number">2.2</a> - U.S. Constitution</p>
<p class="level-3"><a class="head-number">2.2.1</a> - Procedural Issues</p>
<p class="level-3"><a class="head-number">2.2.2</a> - Nonprocedural Issues</p>
<p class="level-2"><a class="head-number">2.3</a> - Nonspecific Constitutional Claims</p>
<p class="level-1"><a class="head-number">3.</a> - EFU Statute/Ordinances</p>
<p class="level-2"><a class="head-number">3.1</a> - Generally</p>
<p class="level-2"><a class="head-number">3.2</a> - Farm Uses</p>
<p class="level-3"><a class="head-number">3.2.1</a> - Generally</p>
<p class="level-3"><a class="head-number">3.2.2</a> - Farm Dwellings</p>
<p class="level-3"><a class="head-number">3.2.3</a> - Other Uses</p>
<p class="level-2"><a class="head-number">3.3</a> - Nonfarm Uses</p>
<p class="level-3"><a class="head-number">3.3.1</a> - Generally</p>
<p class="level-3"><a class="head-number">3.3.2</a> - Mineral Operation</p>
<p class="level-3"><a class="head-number">3.3.3</a> - Dwellings</p>
<p class="level-3"><a class="head-number">3.3.4</a> - Compatibility Standard</p>
<p class="level-3"><a class="head-number">3.3.5</a> - Noninterference Standard</p>
<p class="level-3"><a class="head-number">3.3.6</a> - Stability Standard</p>
<p class="level-3"><a class="head-number">3.3.7</a> - Unsuitability Standard</p>
<p class="level-3"><a class="head-number">3.3.8</a> - No Significant Change/Increase Std</p>
<p class="level-3"><a class="head-number">3.3.9</a> - Other Uses</p>
<p class="level-2"><a class="head-number">3.4</a> - Land Divisions</p>
<p class="level-3"><a class="head-number">3.4.1</a> - Generally</p>
<p class="level-3"><a class="head-number">3.4.2</a> - Minimum Lot Sizes</p>
<p class="level-2"><a class="head-number">3.5</a> - Statutory Policy</p>
<p class="level-2"><a class="head-number">3.6</a> - Lot of Record Dwellings</p>
<p class="level-1"><a class="head-number">4.</a> - Statewide Planning Goals/LCDC Rules</p>
<p class="level-2"><a class="head-number">4.1</a> - Applicability</p>
<p class="level-2"><a class="head-number">4.2</a> - Compliance with</p>
<p class="level-2"><a class="head-number">4.3</a> - Definitions</p>
<p class="level-2"><a class="head-number">4.4</a> - Acknowledgment</p>
<p class="level-1"><a class="head-number">5.</a> - Citizen Involvement</p>
<p class="level-1"><a class="head-number">6.</a> - Land Use Planning</p>
<p class="level-2"><a class="head-number">6.1</a> - Generally</p>
<p class="level-2"><a class="head-number">6.2</a> - Coordination</p>
<p class="level-2"><a class="head-number">6.3</a> - Exceptions/ Exception Rule</p>
<p class="level-3"><a class="head-number">6.3.1</a> - Generally</p>
<p class="level-3"><a class="head-number">6.3.2</a> - Developed</p>
<p class="level-3"><a class="head-number">6.3.3</a> - Committed</p>
<p class="level-3"><a class="head-number">6.3.4</a> - Reasons</p>
<p class="level-3"><a class="head-number">6.3.5</a> - When Required</p>
<p class="level-3"><a class="head-number">6.3.6</a> - Changes to</p>
<p class="level-2"><a class="head-number">6.4</a> - Alternative Courses of Action</p>
<p class="level-2"><a class="head-number">6.5</a> - Adequate Factual Base</p>
<p class="level-1"><a class="head-number">7.</a> - Agricultural Lands/Goal 3 Rule</p>
<p class="level-2"><a class="head-number">7.1</a> - Generally</p>
<p class="level-2"><a class="head-number">7.2</a> - Agricultural Land Definition</p>
<p class="level-3"><a class="head-number">7.2.1</a> - Generally</p>
<p class="level-3"><a class="head-number">7.2.2</a> - Soil Classes</p>
<p class="level-3"><a class="head-number">7.2.3</a> - Other Suitable Land</p>
<p class="level-3"><a class="head-number">7.2.4</a> - Other Necessary Land</p>
<p class="level-2"><a class="head-number">7.3</a> - Minimum Lot Size Standard</p>
<p class="level-3"><a class="head-number">7.3.1</a> - Commercial Agricultural Enterprise</p>
<p class="level-3"><a class="head-number">7.3.2</a> - Operation and Effect of</p>
<p class="level-2"><a class="head-number">7.4</a> - Land Divisions</p>
<p class="level-2"><a class="head-number">7.5</a> - Multiple Resource Lands</p>
<p class="level-2"><a class="head-number">7.6</a> - Exceptions to</p>
<p class="level-2"><a class="head-number">7.7</a> - Farm Uses</p>
<p class="level-3"><a class="head-number">7.7.1</a> - Generally</p>
<p class="level-3"><a class="head-number">7.7.2</a> - Farm Dwellings</p>
<p class="level-2"><a class="head-number">7.8</a> - Nonfarm Uses</p>
<p class="level-1"><a class="head-number">8.</a> - Forest Lands/Goal 4 Rule</p>
<p class="level-2"><a class="head-number">8.1</a> - Generally</p>
<p class="level-2"><a class="head-number">8.2</a> - Forest Land Definition</p>
<p class="level-2"><a class="head-number">8.3</a> - Forest Uses</p>
<p class="level-2"><a class="head-number">8.4</a> - Nonforest Uses</p>
<p class="level-2"><a class="head-number">8.5</a> - Land Divisions</p>
<p class="level-3"><a class="head-number">8.5.1</a> - Generally</p>
<p class="level-3"><a class="head-number">8.5.2</a> - Minimum Lot Sizes</p>
<p class="level-2"><a class="head-number">8.6</a> - Multiple Resource Lands</p>
<p class="level-2"><a class="head-number">8.7</a> - Exceptions to</p>
<p class="level-2"><a class="head-number">8.8</a> - Forest Dwellings</p>
<p class="level-2"><a class="head-number">8.9</a> - Lots of Record</p>
<p class="level-2"><a class="head-number">8.10</a> - Forest Practices Act</p>
<p class="level-1"><a class="head-number">9.</a> - Open Spaces and Natural Resources/Goal 5 Rule</p>
<p class="level-2"><a class="head-number">9.1</a> - Generally</p>
<p class="level-2"><a class="head-number">9.2</a> - Resource Inventory</p>
<p class="level-2"><a class="head-number">9.3</a> - Conflicting Use Identification</p>
<p class="level-2"><a class="head-number">9.4</a> - ESEE Consequence Determination</p>
<p class="level-2"><a class="head-number">9.5</a> - Resource Protection Programs</p>
<p class="level-1"><a class="head-number">10.</a> - Air, Water and Land Resource Quality</p>
<p class="level-1"><a class="head-number">11.</a> - Natural Disasters and Hazards</p>
<p class="level-1"><a class="head-number">12.</a> - Recreational Needs</p>
<p class="level-1"><a class="head-number">13.</a> - Economy of the State/Goal 9 Rule</p>
<p class="level-1"><a class="head-number">14.</a> - Housing/Goal 10 Rule</p>
<p class="level-1"><a class="head-number">15.</a> - Pupblic Facilities and Services/Goal 11 Rule</p>
<p class="level-1"><a class="head-number">16.</a> - Transportation/Goal 12 Rule</p>
<p class="level-1"><a class="head-number">17.</a> - Energy Conservation</p>
<p class="level-1"><a class="head-number">18.</a> - Urbanization/Goal 14 Rule</p>
<p class="level-2"><a class="head-number">18.1</a> - Generally</p>
<p class="level-2"><a class="head-number">18.2</a> - Establishment of UGB</p>
<p class="level-2"><a class="head-number">18.3</a> - Amendment of UGB</p>
<p class="level-2"><a class="head-number">18.4</a> - Conversion Factors</p>
<p class="level-2"><a class="head-number">18.5</a> - Urban Uses on Rural Land</p>
<p class="level-2"><a class="head-number">18.6</a> - Annexations/Incorporation</p>
<p class="level-3"><a class="head-number">18.6.1</a> - Goal Standards</p>
<p class="level-3"><a class="head-number">18.6.2</a> - LCDC Rule</p>
<p class="level-2"><a class="head-number">18.7</a> - Exceptions to</p>
<p class="level-2"><a class="head-number">18.8</a> - Urban Reserves</p>
<p class="level-1"><a class="head-number">19.</a> - Willamette River Greenway</p>
<p class="level-1"><a class="head-number">20.</a> - Estuarine Resources</p>
<p class="level-1"><a class="head-number">21.</a> - Coastal Shorelines</p>
<p class="level-1"><a class="head-number">22.</a> - Beaches and Dunes</p>
<p class="level-1"><a class="head-number">23.</a> - Ocean Resources</p>
<p class="level-1"><a class="head-number">24.</a> - Standing</p>
<p class="level-2"><a class="head-number">24.1</a> - Before Local Government</p>
<p class="level-2"><a class="head-number">24.2</a> - Before LUBA</p>
<p class="level-3"><a class="head-number">24.2.1</a> - Generally</p>
<p class="level-3"><a class="head-number">24.2.2</a> - Requirement to Establish</p>
<p class="level-3"><a class="head-number">24.2.3</a> - Appearance</p>
<p class="level-3"><a class="head-number">24.2.4</a> - Right to Notice</p>
<p class="level-3"><a class="head-number">24.2.5</a> - Adverse Effect</p>
<p class="level-3"><a class="head-number">24.2.6</a> - Aggrievement</p>
<p class="level-3"><a class="head-number">24.2.7</a> - Quasi-judicial Decision</p>
<p class="level-3"><a class="head-number">24.2.8</a> - Legislative Decision</p>
<p class="level-3"><a class="head-number">24.2.9</a> - Limitations on</p>
<p class="level-3"><a class="head-number">24.2.10</a> - State Agencies</p>
<p class="level-2"><a class="head-number">24.3</a> - Representational</p>
<p class="level-1"><a class="head-number">25.</a> - Local Government Procedures</p>
<p class="level-2"><a class="head-number">25.1</a> - Generally</p>
<p class="level-2"><a class="head-number">25.2</a> - Authority to Act</p>
<p class="level-2"><a class="head-number">25.3</a> - Compliance with Statutes</p>
<p class="level-3"><a class="head-number">25.3.1</a> - Generally</p>
<p class="level-3"><a class="head-number">25.3.2</a> - Applicable Criteria</p>
<p class="level-3"><a class="head-number">25.3.3</a> - Notice of Hearing</p>
<p class="level-3"><a class="head-number">25.3.4</a> - Hearings</p>
<p class="level-3"><a class="head-number">25.3.5</a> - Time Limit for Final Action</p>
<p class="level-3"><a class="head-number">25.3.6</a> - Findings</p>
<p class="level-3"><a class="head-number">25.3.7</a> - Notice of Decision</p>
<p class="level-3"><a class="head-number">25.3.8</a> - Appeals</p>
<p class="level-3"><a class="head-number">25.3.9</a> - Raise It/Waive It (ORS 197.763)</p>
<p class="level-3"><a class="head-number">25.3.10</a> - Limited Land Use Decisions</p>
<p class="level-2"><a class="head-number">25.4</a> - Compliance with Local Ordinances/Regs</p>
<p class="level-3"><a class="head-number">25.4.1</a> - Generally</p>
<p class="level-3"><a class="head-number">25.4.2</a> - Application Requirements</p>
<p class="level-3"><a class="head-number">25.4.3</a> - Notice Requirements</p>
<p class="level-3"><a class="head-number">25.4.4</a> - Requirements for Standards/Criteria</p>
<p class="level-3"><a class="head-number">25.4.5</a> - Deviations From</p>
<p class="level-3"><a class="head-number">25.4.6</a> - Changes in Law</p>
<p class="level-3"><a class="head-number">25.4.7</a> - Appeal Rights</p>
<p class="level-2"><a class="head-number">25.5</a> - Delegation of Authority</p>
<p class="level-2"><a class="head-number">25.6</a> - Hearings</p>
<p class="level-3"><a class="head-number">25.6.1</a> - Generally</p>
<p class="level-3"><a class="head-number">25.6.2</a> - Limitations on Presentation</p>
<p class="level-3"><a class="head-number">25.6.3</a> - Evidence</p>
<p class="level-3"><a class="head-number">25.6.4</a> - Site Visits</p>
<p class="level-3"><a class="head-number">25.6.5</a> - Impartial Tribunal</p>
<p class="level-3"><a class="head-number">25.6.6</a> - When Required</p>
<p class="level-2"><a class="head-number">25.7</a> - Legislative/Quasi-judicial Distinction</p>
<p class="level-2"><a class="head-number">25.8</a> - Discretionary/Ministerial Distinction</p>
<p class="level-2"><a class="head-number">25.9</a> - Formalities of Decisions</p>
<p class="level-2"><a class="head-number">25.10</a> - Necessity for Objections to</p>
<p class="level-2"><a class="head-number">25.11</a> - Action After Remand</p>
<p class="level-2"><a class="head-number">25.12</a> - Other</p>
<p class="level-1"><a class="head-number">26.</a> - LUBA Jurisdiction</p>
<p class="level-2"><a class="head-number">26.1</a> - Generally</p>
<p class="level-2"><a class="head-number">26.2</a> - Land Use Decision: Statutory Test</p>
<p class="level-3"><a class="head-number">26.2.1</a> - Generally</p>
<p class="level-3"><a class="head-number">26.2.2</a> - Final Decision</p>
<p class="level-3"><a class="head-number">26.2.3</a> - Local Government/Special District Decision</p>
<p class="level-3"><a class="head-number">26.2.4</a> - Goal, Plan or Land Use Regulation</p>
<p class="level-3"><a class="head-number">26.2.5</a> - State Agency Decision</p>
<p class="level-3"><a class="head-number">26.2.6</a> - Ministerial Exception</p>
<p class="level-3"><a class="head-number">26.2.7</a> - Urban Division Exception</p>
<p class="level-3"><a class="head-number">26.2.8</a> - Limited Land Use Decision</p>
<p class="level-3"><a class="head-number">26.2.9</a> - Transportation Facility Exception</p>
<p class="level-3"><a class="head-number">26.2.10</a> - Compatibility Statement Exception</p>
<p class="level-3"><a class="head-number">26.2.11</a> - Zoning Classification Decisions</p>
<p class="level-2"><a class="head-number">26.3</a> - Land Use Decision: Significant Impacts Test</p>
<p class="level-2"><a class="head-number">26.4</a> - Land Use Decision: Exclusions</p>
<p class="level-2"><a class="head-number">26.5</a> - Exhaustion of Remedies</p>
<p class="level-2"><a class="head-number">26.6</a> - Mootness</p>
<p class="level-2"><a class="head-number">26.7</a> - Effect of LCDC Proceedings</p>
<p class="level-2"><a class="head-number">26.8</a> - Effect of Circuit Court Proceedings</p>
<p class="level-2"><a class="head-number">26.9</a> - Statute of Ultimate Repose</p>
<p class="level-2"><a class="head-number">26.10</a> - Effect of Ballot Measure 37 (ORS 197.352)</p>
<p class="level-2"><a class="head-number">26.11</a> - Effect of Ballot Measure 49</p>
<p class="level-1"><a class="head-number">27.</a> - LUBA Procedures/Rules</p>
<p class="level-2"><a class="head-number">27.1</a> - Generally</p>
<p class="level-2"><a class="head-number">27.2</a> - Perfecting an Appeal</p>
<p class="level-3"><a class="head-number">27.2.1</a> - Generally</p>
<p class="level-3"><a class="head-number">27.2.2</a> - Notice of Intent to Appeal</p>
<p class="level-3"><a class="head-number">27.2.3</a> - Payment of Fee and Deposit for Costs</p>
<p class="level-2"><a class="head-number">27.3</a> - Record</p>
<p class="level-3"><a class="head-number">27.3.1</a> - Generally</p>
<p class="level-3"><a class="head-number">27.3.2</a> - Content/Form</p>
<p class="level-3"><a class="head-number">27.3.3</a> - Objections to</p>
<p class="level-3"><a class="head-number">27.3.4</a> - Settling the Record</p>
<p class="level-2"><a class="head-number">27.4</a> - Petition for Review</p>
<p class="level-3"><a class="head-number">27.4.1</a> - Generally</p>
<p class="level-3"><a class="head-number">27.4.2</a> - Cross-Petition</p>
<p class="level-2"><a class="head-number">27.5</a> - Briefs</p>
<p class="level-3"><a class="head-number">27.5.1</a> - Generally</p>
<p class="level-3"><a class="head-number">27.5.2</a> - Respondent's</p>
<p class="level-3"><a class="head-number">27.5.3</a> - State Agency</p>
<p class="level-3"><a class="head-number">27.5.4</a> - Amicus</p>
<p class="level-3"><a class="head-number">27.5.5</a> - Reply</p>
<p class="level-2"><a class="head-number">27.6</a> - Evidentiary Hearings</p>
<p class="level-3"><a class="head-number">27.6.1</a> - Generally</p>
<p class="level-3"><a class="head-number">27.6.2</a> - Grounds for</p>
<p class="level-3"><a class="head-number">27.6.3</a> - Motion for</p>
<p class="level-3"><a class="head-number">27.6.4</a> - Procedures</p>
<p class="level-3"><a class="head-number">27.6.5</a> - Depositions</p>
<p class="level-2"><a class="head-number">27.7</a> - Parties</p>
<p class="level-3"><a class="head-number">27.7.1</a> - Petitioner</p>
<p class="level-3"><a class="head-number">27.7.2</a> - Respondent</p>
<p class="level-3"><a class="head-number">27.7.3</a> - Intervenor/ Participant</p>
<p class="level-3"><a class="head-number">27.7.4</a> - Amicus</p>
<p class="level-3"><a class="head-number">27.7.5</a> - Representation</p>
<p class="level-2"><a class="head-number">27.8</a> - Consolidation</p>
<p class="level-2"><a class="head-number">27.9</a> - Stays</p>
<p class="level-3"><a class="head-number">27.9.1</a> - Generally</p>
<p class="level-3"><a class="head-number">27.9.2</a> - Colorable Claim of Error</p>
<p class="level-3"><a class="head-number">27.9.3</a> - Irreparable Injury</p>
<p class="level-3"><a class="head-number">27.9.4</a> - Procedures</p>
<p class="level-3"><a class="head-number">27.9.5</a> - Order</p>
<p class="level-2"><a class="head-number">27.10</a> - Time Limits</p>
<p class="level-3"><a class="head-number">27.10.1</a> - Notice of Intent to Appeal</p>
<p class="level-3"><a class="head-number">27.10.2</a> - Record Objections</p>
<p class="level-3"><a class="head-number">27.10.3</a> - Petition for Review</p>
<p class="level-3"><a class="head-number">27.10.4</a> - Final Opinion</p>
<p class="level-3"><a class="head-number">27.10.5</a> - Other Documents</p>
<p class="level-3"><a class="head-number">27.10.6</a> - Extensions</p>
<p class="level-3"><a class="head-number">27.10.7</a> - Failure to Comply</p>
<p class="level-2"><a class="head-number">27.11</a> - Service</p>
<p class="level-3"><a class="head-number">27.11.1</a> - Notice of Intent to Appeal</p>
<p class="level-3"><a class="head-number">27.11.2</a> - Intervention/ Participation</p>
<p class="level-3"><a class="head-number">27.11.3</a> - Record and Objections</p>
<p class="level-3"><a class="head-number">27.11.4</a> - Other Documents</p>
<p class="level-3"><a class="head-number">27.11.5</a> - Failure to Comply</p>
<p class="level-2"><a class="head-number">27.12</a> - Costs</p>
<p class="level-3"><a class="head-number">27.12.1</a> - Prevailing Party</p>
<p class="level-3"><a class="head-number">27.12.2</a> - Amount</p>
<p class="level-3"><a class="head-number">27.12.3</a> - Petition for Review Not Filed</p>
<p class="level-3"><a class="head-number">27.12.4</a> - Generally</p>
<p class="level-2"><a class="head-number">27.13</a> - Attorney Fees</p>
<p class="level-2"><a class="head-number">27.14</a> - Official Notice</p>
<p class="level-2"><a class="head-number">27.15</a> - Transfers to Circuit Court</p>
<p class="level-2"><a class="head-number">27.16</a> - Withdrawal of Decision</p>
<p class="level-2"><a class="head-number">27.17</a> - Mediation</p>
<p class="level-1"><a class="head-number">28.</a> - LUBA Scope of Review</p>
<p class="level-2"><a class="head-number">28.1</a> - Generally</p>
<p class="level-2"><a class="head-number">28.2</a> - Denials</p>
<p class="level-2"><a class="head-number">28.3</a> - Goal Exceptions</p>
<p class="level-2"><a class="head-number">28.4</a> - Post-acknowledgment Amendments</p>
<p class="level-2"><a class="head-number">28.5</a> - Legislative Decisions</p>
<p class="level-2"><a class="head-number">28.6</a> - Waiver of Issues</p>
<p class="level-3"><a class="head-number">28.6.1</a> - Failure to Raise in Prior LUBA Appeal</p>
<p class="level-3"><a class="head-number">28.6.2</a> - Failure to Raise in Local Proceedings</p>
<p class="level-3"><a class="head-number">28.6.3</a> - Issues Conclusively Resolved in Prior Appeal</p>
<p class="level-3"><a class="head-number">28.6.4</a> - Failure to Raise in Local Appeal</p>
<p class="level-2"><a class="head-number">28.7</a> - After Remand by Court</p>
<p class="level-2"><a class="head-number">28.8</a> - Grounds for Reversal/Remand</p>
<p class="level-3"><a class="head-number">28.8.1</a> - Generally</p>
<p class="level-3"><a class="head-number">28.8.2</a> - Lack of Jurisdiction</p>
<p class="level-3"><a class="head-number">28.8.3</a> - Unconstitutionality</p>
<p class="level-3"><a class="head-number">28.8.4</a> - Procedural Errors</p>
<p class="level-3"><a class="head-number">28.8.5</a> - Noncompliance with Applicable Law</p>
<p class="level-3"><a class="head-number">28.8.6</a> - Inadequate Findings</p>
<p class="level-3"><a class="head-number">28.8.7</a> - Unsupported by Substantial Evidence</p>
<p class="level-3"><a class="head-number">28.8.8</a> - Harmless Error</p>
<p class="level-3"><a class="head-number">28.8.9</a> - Other</p>
<p class="level-2"><a class="head-number">28.9</a> - State Agency Decisions</p>
<p class="level-2"><a class="head-number">28.10</a> - Limited Land Use Decisions</p>
<p class="level-2"><a class="head-number">28.11</a> - Effect of Ballot Measure 37 Waiver (ORS 197.352)</p>
<p class="level-2"><a class="head-number">28.12</a> - Effect of Ballot Measure 49 (ORS 195.300 to 195.336)</p>
<p class="level-1"><a class="head-number">29.</a> - Comprehensive Plans</p>
<p class="level-2"><a class="head-number">29.1</a> - Adoption</p>
<p class="level-3"><a class="head-number">29.1.1</a> - Generally</p>
<p class="level-3"><a class="head-number">29.1.2</a> - Procedure</p>
<p class="level-3"><a class="head-number">29.1.3</a> - Standards</p>
<p class="level-2"><a class="head-number">29.2</a> - Amendment</p>
<p class="level-3"><a class="head-number">29.2.1</a> - Generally</p>
<p class="level-3"><a class="head-number">29.2.2</a> - Text Amendment: Procedure</p>
<p class="level-3"><a class="head-number">29.2.3</a> - Text Amendment: Standards</p>
<p class="level-3"><a class="head-number">29.2.4</a> - Map Amendment: Procedure</p>
<p class="level-3"><a class="head-number">29.2.5</a> - Map Amendment: Standards</p>
<p class="level-2"><a class="head-number">29.3</a> - Applicability</p>
<p class="level-3"><a class="head-number">29.3.1</a> - Generally</p>
<p class="level-3"><a class="head-number">29.3.2</a> - As Decision Criteria</p>
<p class="level-3"><a class="head-number">29.3.3</a> - Effect of Acknowledgment</p>
<p class="level-3"><a class="head-number">29.3.4</a> - Subarea Plans</p>
<p class="level-2"><a class="head-number">29.4</a> - Interpretation</p>
<p class="level-1"><a class="head-number">30.</a> - Zoning Ordinances</p>
<p class="level-2"><a class="head-number">30.1</a> - Adoption</p>
<p class="level-3"><a class="head-number">30.1.1</a> - Generally</p>
<p class="level-3"><a class="head-number">30.1.2</a> - Procedure</p>
<p class="level-3"><a class="head-number">30.1.3</a> - Standards</p>
<p class="level-2"><a class="head-number">30.2</a> - Amendment</p>
<p class="level-3"><a class="head-number">30.2.1</a> - Generally</p>
<p class="level-3"><a class="head-number">30.2.2</a> - Text Amendment: Procedure</p>
<p class="level-3"><a class="head-number">30.2.3</a> - Text Amendment: Standards</p>
<p class="level-3"><a class="head-number">30.2.4</a> - Map Amendment: Procedure</p>
<p class="level-3"><a class="head-number">30.2.5</a> - Map Amendment: Standards</p>
<p class="level-2"><a class="head-number">30.3</a> - Applicability</p>
<p class="level-2"><a class="head-number">30.4</a> - Interpretation</p>
<p class="level-1"><a class="head-number">31.</a> - Permits</p>
<p class="level-2"><a class="head-number">31.1</a> - Approval Standards</p>
<p class="level-3"><a class="head-number">31.1.1</a> - Generally</p>
<p class="level-3"><a class="head-number">31.1.2</a> - Application Requirements</p>
<p class="level-3"><a class="head-number">31.1.3</a> - Standards/Criteria</p>
<p class="level-3"><a class="head-number">31.1.4</a> - Use of Conditions</p>
<p class="level-3"><a class="head-number">31.1.5</a> - Statutory Requirement for</p>
<p class="level-2"><a class="head-number">31.2</a> - Types</p>
<p class="level-3"><a class="head-number">31.2.1</a> - Building</p>
<p class="level-3"><a class="head-number">31.2.2</a> - Conditional Use</p>
<p class="level-3"><a class="head-number">31.2.3</a> - Design Review</p>
<p class="level-3"><a class="head-number">31.2.4</a> - Other</p>
<p class="level-2"><a class="head-number">31.3</a> - Particular Uses</p>
<p class="level-3"><a class="head-number">31.3.1</a> - Airports</p>
<p class="level-3"><a class="head-number">31.3.2</a> - Farm Dwellings</p>
<p class="level-3"><a class="head-number">31.3.3</a> - Forest Dwellings</p>
<p class="level-3"><a class="head-number">31.3.4</a> - Mineral and Aggregate</p>
<p class="level-3"><a class="head-number">31.3.5</a> - Nonresource Dwellings</p>
<p class="level-3"><a class="head-number">31.3.6</a> - Power Generators</p>
<p class="level-3"><a class="head-number">31.3.7</a> - Shopping Centers</p>
<p class="level-3"><a class="head-number">31.3.8</a> - Transmission Towers/Lines</p>
<p class="level-3"><a class="head-number">31.3.9</a> - Waste Disposal Facilities</p>
<p class="level-3"><a class="head-number">31.3.10</a> - Home Occupations</p>
<p class="level-3"><a class="head-number">31.3.11</a> - Erosion Control Structures</p>
<p class="level-3"><a class="head-number">31.3.12</a> - Destination Resorts</p>
<p class="level-3"><a class="head-number">31.3.13</a> - Golf Courses</p>
<p class="level-3"><a class="head-number">31.3.14</a> - Churches</p>
<p class="level-3"><a class="head-number">31.3.15</a> - Schools</p>
<p class="level-3"><a class="head-number">31.3.16</a> - Manufactured Homes</p>
<p class="level-3"><a class="head-number">31.3.17</a> - Firearms Training Facilities</p>
<p class="level-3"><a class="head-number">31.3.18</a> - Wineries</p>
<p class="level-3"><a class="head-number">31.3.19</a> - Farm Stands</p>
<p class="level-3"><a class="head-number">31.3.20</a> - Needed Housing</p>
<p class="level-1"><a class="head-number">32.</a> - Planned Unit Developments</p>
<p class="level-2"><a class="head-number">32.1</a> - Procedures</p>
<p class="level-2"><a class="head-number">32.2</a> - Standards</p>
<p class="level-1"><a class="head-number">33.</a> - Land Divisions</p>
<p class="level-2"><a class="head-number">33.1</a> - Subdivisions</p>
<p class="level-2"><a class="head-number">33.2</a> - Partitions</p>
<p class="level-2"><a class="head-number">33.3</a> - Lot Line Adjustments</p>
<p class="level-2"><a class="head-number">33.4</a> - Generally</p>
<p class="level-1"><a class="head-number">34.</a> - Variances</p>
<p class="level-1"><a class="head-number">35.</a> - Moratoria</p>
<p class="level-1"><a class="head-number">36.</a> - Nonconforming Uses</p>
<p class="level-2"><a class="head-number">36.1</a> - Generally</p>
<p class="level-2"><a class="head-number">36.2</a> - Definition</p>
<p class="level-2"><a class="head-number">36.3</a> - Determination of Existence</p>
<p class="level-2"><a class="head-number">36.4</a> - Abandonment/Interruption</p>
<p class="level-2"><a class="head-number">36.5</a> - Alteration/Change</p>
<p class="level-2"><a class="head-number">36.6</a> - Expansion</p>
<p class="level-2"><a class="head-number">36.7</a> - Restoration/Replacement</p>
<p class="level-2"><a class="head-number">36.8</a> - Regulation</p>
<p class="level-1"><a class="head-number">37.</a> - Vested Rights</p>
<p class="level-1"><a class="head-number">38.</a> - State Agencies</p>
<p class="level-2"><a class="head-number">38.1</a> - Generally</p>
<p class="level-2"><a class="head-number">38.2</a> - Permits</p>
<p class="level-2"><a class="head-number">38.3</a> - Local Gov't Compatibility Determinations</p>
<p class="level-1"><a class="head-number">39.</a> - Boundary Changes</p>
<p class="level-2"><a class="head-number">39.1</a> - Generally</p>
<p class="level-2"><a class="head-number">39.2</a> - Incorporation/Formation</p>
<p class="level-2"><a class="head-number">39.3</a> - Annexation</p>
<p class="level-1"><a class="head-number">40.</a> - Wetlands</p>
<p class="level-1"><a class="head-number">41.</a> - Urban Renewal Plans</p>
<p class="level-1"><a class="head-number">42.</a> - Wrecking Certificates</p>
<p class="level-1"><a class="head-number">43.</a> - Special Districts</p>
<p class="level-1"><a class="head-number">44.</a> - Marginal Lands</p>
<p class="level-1"><a class="head-number">45.</a> - Conditions of Approval</p>
<p class="level-2"><a class="head-number">45.1</a> - Generally</p>
<p class="level-2"><a class="head-number">45.2</a> - Authority to Impose</p>
<p class="level-2"><a class="head-number">45.3</a> - Exactions</p>
<p class="level-2"><a class="head-number">45.4</a> - Consents to Annexation</p>
<p class="level-2"><a class="head-number">45.5</a> - Waivers of Remonstrance</p>
<p class="level-1"><a class="head-number">46.</a> - Outdoor Mass Gatherings</p>
<p class="level-1"><a class="head-number">47.</a> - Ballot Measure 37 (ORS 197.352)</p>
<p class="level-2"><a class="head-number">47.1</a> - Generally</p>
<p class="level-2"><a class="head-number">47.2</a> - Local Waivers</p>
<p class="level-2"><a class="head-number">47.3</a> - State Waivers</p>
<p class="level-1"><a class="head-number">48.</a> - Ballot Measure 49</p>
<p class="level-2"><a class="head-number">48.1</a> - Generally</p>
<p class="level-1"><a class="head-number">49.</a> - Marijuana Laws</p>
</div>
</html>