<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SQL Results</title>
</head>
{% extends "base.html" %}

{% block search %}
    <form method="get" action="/{{ database }}/headnotes">
        <input type="text" name="_search" placeholder="Search all text fields..." class="search-text-box"
            value="{{ request.args.get('_search', '') }}">
        <input type="hidden" name="_sort" value="year">
        <button type="submit" class="submit-button" >Search</button>
    </form>
{% endblock %}
{% block sql %}
        <form method="get" action="/{{ database }}">
        <textarea name="sql" class="sql-text-box" placeholder="Enter your SQL query here...">{{ request.args.get('sql', '') }}</textarea>
        <button type="submit" class="submit-button">Run SQL Query</button>
    </form>
{% endblock %}

{% block content %}

<!-- Pagination if needed -->
{% if show_pagination %}
    <div class="pagination">
        {% if pagination.has_previous %}
            <a href="{{ pagination.previous_url }}">&laquo; Previous</a>
        {% endif %}

        Page {{ pagination.page }} of {{ pagination.num_pages }}

        {% if pagination.has_next %}
            <a href="{{ pagination.next_url }}">Next &raquo;</a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}
</html>
