<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">
<head>
    <title>SQL HElp</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<details>
    <summary>SQL Hints and Examples (click to expand)</summary>
    <div class="sql-field-list">
        <h4>Available Fields:</h4>
        <code>headnote, topic, summary, case_name, citation, year, full_citation, ors_cites, oar_cites, case_cites, section, sub, error_list</code>
    </div>
    <div class="sql-headnote-list">
        <h4>Headnote List:</h4>
        <details><summary>Full List (click to expand)</summary>
            {% include 'headnote_list.html' %}
        </details>
    </div>
    <div class="sql-examples">
        <h4>Example Queries (click to use):</h4>
        <div class="example-queries">
            <!-- Filled in dynamically on client side by script.js-->
        </div>
    </div>
</details>
</html>